/*.window-content {*/
/*    background: #fff;*/
/*}*/



.loading-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    /*animation: rotate-reverse 2s linear 0s infinite normal;*/
}
.desktop > .folder-view {
    height: 100%;
}

@keyframes rotate-reverse {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.document-wrap, .article-content-wrap {
    height:100%;
    position: relative;
}

.document-wrap-right .document-wrap-right-content-wrap {
    height: calc(100% - 6%);
}

.document-wrap-right .right-wrap-control {
    margin-top: 1%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-wrap-pagination {
    display: flex;
    align-items: center;
}

.right-wrap-pagination  .prevButton {
    width: 24px;
    height: 24px;
    background: no-repeat center url("/static/themes/win98/static/img/shangyiye.png");
    background-size: 60% 60%;
    cursor: pointer;

}

.right-wrap-pagination  .nextButton {
    width: 24px;
    height: 24px;
    background: no-repeat center url("/static/themes/win98/static/img/xiayiye.png");
    background-size: 60% 60%;
    cursor: pointer;
}

.right-wrap-control  .right-content-input {
    border: 0;
    outline: 0;
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid #999;
    margin: 0 10px;
    text-align: center;
    width: 50px;
}



.document-wrap-left, .article-headline-wrap {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    overflow: auto;
    position: relative;
    border-right: 1px solid #999;
}
.document-wrap-right, .article-content {
    float: left;
    width: calc(100% - 20%);
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}



.article-headline-wrap {
    width: 15%;
}


.document-wrap-right .folder-view {
    height: 100%;
}

.article-window {
    user-select: auto;
}
.article-content {
    width: calc(100% - 15%);
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: "LXGW WenKai Lite", sans-serif !important;
}


.document-wrap-right .title, .window-content .title {
    background: transparent;
    color: black;
    width: 90%;
    margin: 5px auto;
}

.web-content-wrap .folder-view {
    height: 100%;
}

.aItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75px;
}

.aItem .name {
    background: transparent;
    color: black;
    width: 90%;
    margin: 5px auto;
}


/* 右键菜单 */
.menu {
    position: absolute;
    background: rgb(192, 192, 192);
    border-radius: 2px;
    padding: 2px;
    box-shadow: 2px 2px 6px 2px rgb(0 21 41 / 23%);
    z-index: 99999;
    display: none;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li{
    list-style: none;
    font-size: 8pt;
    color: black;
    cursor: pointer;
    width: 70px;
    padding: 5px 10px;
}

.menu ul li:hover{
    background-color: #ddd;
}

.iframe-item {
    outline: 0;
    border: 0;
    width: 100%;
    height: 100%;
}